.table {
  img {
    border-radius: 8px;
    max-width: 40px;
    height: auto;
  }
}


.alert {
   padding: 7px 14px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 1rem;
   border-radius: 25px;
}
