<div class="" *ngIf="productList.length > 0">

  <div class="row">
    <div class="col-md-8">
      <h3 class="text-warning">Your Cart</h3>
      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" style="width: 40px;">#</th>
              <th scope="col">Img</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productList; let i = index">
              <th scope="row">{{i+1}}</th>
              <td><img src="{{ product.url }}" class="img-fluid" alt="{{ product.name }}"></td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>
                <div class="input-group" style="width: 120px;">
                  <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity(product)">-</button>
                  <input type="text" class="form-control text-center" value="{{ product.quantity }}" minlength="1" aria-label="Example text with button addon" aria-describedby="">
                  <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity(product)">+</button>
                </div>
              </td>
              <td><strong>${{product.price * product.quantity}}</strong></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td scope="col">
              </td>
              <td scope="col">
                <button class="btn btn-sm btn-danger" (click)="clearCart()">Clear Cart</button>
              </td>
              <td scope="col"></td>
              <td scope="col"></td>
              <td scope="col" class="text-end">
                Total:
              </td>
              <td scope="col">
                 <h4>${{cartTotal}}</h4>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
    <div class="col-md-4">
      <h3 class="text-warning">Checkout</h3>
      <!-- [ngModelOptions]="{standalone: true}" 
      (ngSubmit)="onSubmit()"-->
      <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" 
            [(ngModel)]="fullName"
            class="form-control" 
            required minlength="3" 
            name="fullName"
            placeholder="(minimum 3 characters)" id="fullName"
            #fullNameMsg="ngModel"
            (ngModelChange)="onfullNameChange($event)"
            [ngModelOptions]="{updateOn: 'blur'}"
            >
          <div class="alert alert-danger" *ngIf="fullNameMsg.invalid && fullNameMsg.dirty">
            <span *ngIf="fullNameMsg.errors?.['required']">
              Full Name Required
            </span> 
            <span *ngIf="fullNameMsg.errors?.['minlength']">
              Enter minimum 3 characters
            </span> 
          </div>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="email" 
            [(ngModel)]="address"
            class="form-control" 
            required minlength="6" 
            name="address" 
            placeholder="(minimum 6 characters)" id="address"
            #addressMsg="ngModel"
            (ngModelChange)="onAddressChange($event)"
            [ngModelOptions]="{updateOn: 'blur'}"
            >
            <div class="alert alert-danger" *ngIf="addressMsg.invalid && addressMsg.dirty">
              <span *ngIf="addressMsg.errors?.['required']">
                Address Required
              </span> 
              <span *ngIf="addressMsg.errors?.['minlength']">
                Enter minimum 6 characters
              </span> 
            </div>
          <!-- <div class="alert alert-danger" *ngIf="address.errors?.['required'] && (address.dirty || address.touched)"></div>
          <div class="alert alert-danger" *ngIf="address.errors?.['minlength'] && (address.dirty || address.touched)"></div> -->
        </div>
        <div class="mb-3">
          <label for="cardNumber" class="form-label">Credit card number</label>
          <input type="text" 
            [(ngModel)]="cardNumber" 
            class="form-control" 
            required minlength="16" 
            name="cardNumber"
            placeholder="(16-digit Number)" id="cardNumber"
            pattern="[0-9]+"
            #cardNumberMsg="ngModel"
            (ngModelChange)="onCardNumberChange($event)"
            [ngModelOptions]="{updateOn: 'blur'}">
            <div class="alert alert-danger" *ngIf="cardNumberMsg.invalid && cardNumberMsg.dirty">
              <span *ngIf="cardNumberMsg.errors?.['required']">
                Credit card number Required
              </span> 
              <span *ngIf="cardNumberMsg.errors?.['minlength']">
                Enter minimum 16 numbers
              </span> 
              <span *ngIf="cardNumberMsg.errors?.['pattern']">
                only numbers allowed
              </span> 
            </div>
        </div>
        <div class="mb-3">
          <div class="alert alert-warning" *ngIf="fullNameMsg.valid && addressMsg.valid && cardNumberMsg.valid">
            <h4>hello: {{fullName}},</h4>
            <p>your order is ready to be submitted</p>
          </div>
          <button class="btn btn-warning" [disabled]="myForm.invalid" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>


</div>
<div class="" *ngIf="productList.length == 0">
  <div class="empty-state">
    <svg _ngcontent-pns-c111="" data-name="Layer 1" height="240" id="Layer_1" viewBox="0 0 200 200" width="240" xmlns="http://www.w3.org/2000/svg" class="bi d-block mx-auto mb-1">
      <path _ngcontent-pns-c111=""
        d="M183.25,52.75a18.22,18.22,0,0,0-7-1h-91c-3.5,0-8-.5-11.5.5a9.64,9.64,0,0,0-7.5,9.5,10,10,0,0,0,10,10h90.5l-8,42a10.22,10.22,0,0,1-10,8h-75a10.66,10.66,0,0,1-10-8l-16-74a20.3,20.3,0,0,0-19.5-16h-7a10,10,0,0,0,0,20h7l16,74c3,14,15,23.5,29.5,23.5h75c12,0,24.5-8,28-19.5,2.5-8,4-17,5.5-25,1.5-8.5,3.5-17,5-25a17.76,17.76,0,0,0,1-5,17,17,0,0,0,.5-5c0-4-2-8-5.5-9Zm-132,108.5a15,15,0,0,0,30,0h0a15,15,0,0,0-30,0Zm90,0a15,15,0,1,0,15-15,15,15,0,0,0-15,15v0Z">
      </path>
    </svg>
    <h2>Your Cart is Empty</h2>
    <p><a routerLink="/home">go back to shop</a></p>
  </div>
</div>
