/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.empty-state {
  text-align: center;
  svg {
    fill: rgb(187, 187, 187);
  }
  a {
    color: rgb(255, 193, 7);
  }
}
